<ion-content [fullscreen]="true" class="ion-padding">
  <ion-breadcrumbs>
    <ion-breadcrumb routerLink="/home">Inicio</ion-breadcrumb>
    <ion-breadcrumb routerLink="/settings">Configuraciones</ion-breadcrumb>
    <ion-breadcrumb routerLink="/business-partner-settings">Configuración de perfiles</ion-breadcrumb>
    <ion-breadcrumb routerLink="/edit-roles">Editar roles de socios comercial</ion-breadcrumb>
  </ion-breadcrumbs>
  
  <div class="back-button" (click)="goBack()"> 
    <ion-icon name="arrow-back"></ion-icon>
  </div>

  <div class="container mt-5 rounded-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center pt-4">
          <h5><strong>Editar roles de socios comercial</strong></h5>
        </div>
        <div class="card shadow-lg p-4 rounded-5">
          <ion-item class="mb-3">
            <ion-label for="usuario_a_editar" class="form-label">Selecciona el socio comercial a editar:</ion-label>
            <ion-select class="rounded-pill form-select" name="usuario_a_editar" id="usuario_a_editar" [(ngModel)]="usuarioSeleccionado" (ionChange)="mostrarDatosSocioComercial()">
              <ion-select-option value="" disabled selected>Selecciona un socio comercial</ion-select-option>
              <ng-container *ngFor="let socioComercial of sociosComerciales">
                <ion-select-option [value]="socioComercial.businessPartnerId">{{ socioComercial.nameCompany }} - {{ socioComercial.roleName }}</ion-select-option>
              </ng-container>
            </ion-select>
          </ion-item>

          <!-- Aquí se mostrarán los detalles del socio comercial seleccionado -->
          <div *ngIf="socioComercialSeleccionado">
            <h5>Nombre del socio: {{ socioComercialSeleccionado.nameCompany }}</h5>
            <h6>Rol actual: {{ socioComercialSeleccionado.roleName }}</h6>
            <ion-item class="mb-3">
              <ion-label for="nuevo_rol" class="form-label">Cambiar rol:</ion-label>
              <ion-select class="rounded-pill form-select" name="nuevo_rol" id="nuevo_rol" [(ngModel)]="nuevoRol">
                <ion-select-option value="" disabled selected>Selecciona un nuevo rol</ion-select-option>
                <ion-select-option *ngFor="let rol of rolesDisponibles" [value]="rol.id">{{ rol.roleName }}</ion-select-option>
              </ion-select>
            </ion-item>
            <button expand="block" class="custom-green-button mt-4" (click)="actualizarRol()">Actualizar Rol</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</ion-content>


