<ion-header>
  <ion-toolbar>
    <ion-title>Editar Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Aquí puedes mostrar la información del empleado para editar -->
  <ion-label>Nombre: {{ empleado.name }}</ion-label>
  <!-- Otros campos para editar la información del empleado -->

  <!-- Agrega botones u otros elementos para editar la información del empleado -->
</ion-content>
