<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>passwordRecovery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <div class="recovery-section ion-padding">
    <div class="heading ion-padding">
      <h2>¿Olvidaste tu contraseña?</h2>
      <p>Ingresa tu correo electrónico para recuperarla.</p>
    </div>
    <div class="recovery-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input type="email" [(ngModel)]="emailForPasswordRecovery"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button class="recovery-button" size="large" (click)="recoverPassword()">Recuperar contraseña</ion-button>
    </div>
  </div>
</ion-content>
