<ion-split-pane contentId="main-content">
  <!-- Contenido principal -->
  <ion-content id="main-content" [fullscreen]="true" class="ion-padding">

    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/home">Inicio</ion-breadcrumb>
      <ion-breadcrumb routerLink="/settings">Configuraciones</ion-breadcrumb>
      <ion-breadcrumb routerLink="/profile-settings">Configuración de perfiles</ion-breadcrumb>
    </ion-breadcrumbs>
    
    <div class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <!-- Contenido principal de la página -->
    <div class="main-content">
      <div class="pt-4">
        <h5><strong>Configuración de perfiles</strong></h5>
      </div>
      <div class="app-grid mt-4">
        <a routerLink="/user-permissions-sections">
          <img src="/assets/image/imagen.png" alt="Assign Logo" style="height: 60px;">
          <span>Secciones visibles de los perfiles</span>
        </a>
      </div>
    </div>
  </ion-content>
</ion-split-pane>