<div class="login-section container py-5" (keyup.enter)="onEnterPressed()">
  <div class="heading text-center mb-4">
    <h1 class="display-4">Bienvenido</h1>
    <p class="lead">Ingrese sus datos para continuar</p>
  </div>
  <div class="login-form mb-4">
    <div class="form-input mb-3 position-relative">
      <span class="input-icon">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <!-- Cabeza del usuario -->
          <circle cx="12" cy="8" r="4" fill="currentColor"/>
          
          <!-- Cuerpo del usuario -->
          <path d="M4 20C4 16.6863 7.68629 14 12 14C16.3137 14 20 16.6863 20 20V21H4V20Z" fill="currentColor"/>
        </svg>
      </span>
      <input type="text" class="form-control" placeholder="Nombre de usuario" [(ngModel)]="username">
    </div>
    <div class="form-input mb-3 position-relative">
      <span class="input-icon">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <!-- Parte superior del candado -->
          <path
            d="M12 1C8.68629 1 6 3.68629 6 7V10H8V7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7V10H18V7C18 3.68629 15.3137 1 12 1Z"
            fill="currentColor" />

          <!-- Cuerpo del candado -->
          <rect x="5" y="10" width="14" height="12" rx="2" ry="2" fill="currentColor" />

          <!-- Agujero del candado -->
          <circle cx="12" cy="16" r="1" fill="white" />
        </svg>
      </span>
      <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="password">
    </div>
  </div>
  <div class="action-button text-center">
    <button class="btn btn-primary" (click)="login()">Iniciar Sesión</button>
  </div>
</div>