<style>
  ion-title {
    text-align: center;
    font-weight: bold;
  }

  .login-section {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .heading h1 {
    font-size: 2rem;
    color: #333;
  }

  .heading p {
    font-size: 1rem;
    color: #666;
  }

  .form-input {
    margin-bottom: 1.5rem;
  }

  .form-input ion-item {
    background: none;
    padding: 0;
    box-shadow: none;
    --background: none;
  }

  .form-input ion-label {
    color: #888;
  }

  .form-input ion-input {
    --padding-start: 0;
  }

  .login-button {
    width: 100%;
    background-color: #007bff;
    border-radius: 4px;
    color: white;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }

  .login-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  .error-message {
    color: red;
    font-size: 0.875rem;
  }

  .message {
    color: #007bff;
    font-size: 0.875rem;
  }

    /* Estilo para el botón de regreso */
    .back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .back-button:hover {
    color: #0056b3;
  }
</style>


<ion-content (keyup.enter)="onEnterPressed()">

  <div class="back-button" (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
  </div>
  <div class="login-section container py-5">
    <div class="heading text-center mb-4">
      <h1>{{labelAdminEmpresas}}</h1>
      <p>{{labelIngreseDatosParaContinuar}}</p>
    </div>
    <div class="login-form row">
      <div class="col-md-6">
        <div class="form-input mt-3">
          <ion-item>
            <ion-label>{{labelTipoRFC}}</ion-label>
            <ion-select [(ngModel)]="tipoRFC" (ionChange)="onChangeTipoRFC()">
              <ion-select-option value="fisica">{{labelPersonaFisica}}</ion-select-option>
              <ion-select-option value="moral">{{labelPersonaMoral}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="form-input mb-3">
          <div style="display: flex; align-items: center;">
            <ion-item style="flex: 1;">
              <ion-label position="floating">{{labelRFC}}</ion-label>
              <ion-input name="rfc" type="text" required [(ngModel)]="usuario.rfc"
                (input)="validateRFC($event)"></ion-input>
            </ion-item>
            <button class="btn btn-secondary" (click)="buscarEmpresaPorRFC()" style="margin-left: 8px;">Buscar</button>
          </div>
          <div *ngIf="rfcLengthError" class="error-message mt-2">{{ rfcLengthError }}</div>
        </div>

        <div class="form-input mb-3">
          <ion-item>
            <ion-label position="floating">{{ tipoRFC === 'fisica' ? 'Nombre de la persona física' : 'Nombre de la empresa' }}</ion-label>
            <ion-input name="nombreEmpresa" type="text" required [(ngModel)]="usuario.nombreEmpresa"
              (ngModelChange)="showMessage()" (ionBlur)="hideMessage()" (ionFocus)="resetMessage()"></ion-input>
          </ion-item>
          <div *ngIf="showMessageFlag" class="message mt-2">{{labelComoApareceConstanciaFiscal}}</div>
        </div>
        <div class="form-input mb-3">
          <ion-item>
            <ion-label position="floating">{{labelAliasUsuario}}</ion-label>
            <ion-input name="nombreU" type="text" required [(ngModel)]="usuario.nombreUsuario"></ion-input>
          </ion-item>
        </div>
        <div class="form-input mb-3">
          <ion-item>
            <ion-label position="floating">{{labelNombreCompletoUsuario}}</ion-label>
            <ion-input name="nombreC" type="text" required [(ngModel)]="usuario.nombreCompleto"></ion-input>
          </ion-item>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-input mb-3">
          <ion-item>
            <ion-label position="floating">{{labelCorreo}}</ion-label>
            <ion-input name="correoElectronico" type="email" required [(ngModel)]="usuario.correo"></ion-input>
          </ion-item>
          <div *ngIf="usuario.correo && (!usuario.correo.includes('@') || !isValidEmail(usuario.correo))"
            class="error-message mt-2">{{labelValidacionCorreo}}</div>
        </div>
        <div class="form-input mb-3">
          <ion-item>
            <ion-label position="floating">Número de teléfono</ion-label>
            <ion-input name="numeroTelefonico" type="text" required [(ngModel)]="usuario.numTelefonico" maxlength="10"></ion-input>
          </ion-item>
        </div>

        <div class="form-input mb-3">
          <ion-item>
            <ion-label position="floating">{{labelContrasena}}</ion-label>
            <ion-input name="contrasena" type="password" required [(ngModel)]="usuario.contrasena"></ion-input>
          </ion-item>
        </div>
        <div class="form-input mb-3">
          <ion-item>
            <ion-label position="floating">{{labelConfirmarContrasena}}</ion-label>
            <ion-input name="confirmarContrasena" type="password" required
              [(ngModel)]="usuario.confirmarContrasena"></ion-input>
          </ion-item>
        </div>
        <div class="form-input mb-3">
          <ion-item>
            <ion-label position="floating">{{labelFechaInicioPeriodo}}</ion-label>
            <ion-input name="fechaInicio" type="date" required [(ngModel)]="usuario.fechaInicio"></ion-input>
          </ion-item>
        </div>
        <div class="form-input mb-3">
          <ion-item>
            <ion-label position="floating">{{labelFechaFinPeriodo}}</ion-label>
            <ion-input name="fechaFin" type="date" required [(ngModel)]="usuario.fechaFin"></ion-input>
          </ion-item>
        </div>
      </div>
    </div>

    <div class="action-button text-center mt-4">
      <button class="login-button" [disabled]="!camposCompletos()"
        (click)="registrarUsuario()">{{ButtonRegistrar}}</button>
    </div>
  </div>
</ion-content>