<ion-content [fullscreen]="true" class="ion-padding">
  <ion-breadcrumbs>
    <ion-breadcrumb routerLink="/home">Inicio</ion-breadcrumb>
    <ion-breadcrumb routerLink="/employee-management">Gestión de Empleados
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/employee-control">Control de empleados
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/edit-employee">Editar solicitudes de empleados
    </ion-breadcrumb>
  </ion-breadcrumbs>
  <div class="back-button" (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
  </div>

  <div class="container mt-4">
    <div class="d-flex justify-content-center mb-4">
      <h5><strong>Editar Empleado Pendiente</strong></h5>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="form-group">
          <ion-item>
            <ion-label>Seleccionar Empleado</ion-label>
            <ion-select id="employeeSelect" (ionChange)="onSelectEmployee($event)" placeholder="Seleccionar Empleado">
              <ion-select-option value="" disabled selected>Seleccionar Empleado</ion-select-option>
              <ion-select-option *ngFor="let empleado of empleadosPendientes" [value]="empleado.employee_id">
                {{ empleado.first_name }} {{ empleado.last_name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="selectedEmployee">
          <div class="card shadow-lg p-4 mb-4">
            <div class="card-body">
              <form #empleadoForm="ngForm" (ngSubmit)="onSubmit(empleadoForm)">
                <div class="form-group mt-3">
                  <label for="departamento">Departamento</label>
                  <select name="departamento" class="form-select" [(ngModel)]="selectedEmployee.department_id" (change)="onDepartmentChange($event)" required [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')">
                    <option value="" disabled selected>Seleccionar</option>
                    <option *ngFor="let departamento of departamentos" [value]="departamento.department_id">
                      {{ departamento.department_name }}
                    </option>
                  </select>
                </div>
                <div class="form-group mt-3">
                  <label for="puesto">Puesto</label>
                  <select name="puesto" class="form-select" [(ngModel)]="selectedEmployee.position_id" (change)="onPositionChange($event)" required [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')">
                    <option value="" disabled selected>Seleccionar</option>
                    <option *ngFor="let puesto of puestos" [value]="puesto.position_id">{{ puesto.position_name }}</option>
                  </select>
                </div>
                <div class="form-group mt-3">
                  <label for="turno">Turno</label>
                  <select name="turno" class="form-select" [(ngModel)]="selectedEmployee.shift_id" (change)="checkAllFieldsCompleted()" required [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')">
                    <option value="" disabled selected>Seleccionar</option>
                    <option *ngFor="let turno of turnos" [value]="turno.shift_id">{{ turno.shift_name }}</option>
                  </select>
                </div>
                <div class="form-group mt-3">
                  <label for="nombre">Nombre*</label>
                  <input type="text" placeholder="Nombre" class="input form-control rounded-pill mb-3 p-2 px-3" name="nombre" [(ngModel)]="selectedEmployee.first_name" (input)="checkAllFieldsCompleted()" required [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>
                <div class="form-group mt-3">
                  <label for="apellidoPaterno">Apellido Paterno*</label>
                  <input type="text" placeholder="Apellido Paterno" class="input form-control rounded-pill mb-3 p-2 px-3" name="apellidoPaterno" [(ngModel)]="selectedEmployee.last_name" (input)="checkAllFieldsCompleted()" required [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>
                <div class="form-group mt-3">
                  <label for="apellidoMaterno">Apellido Materno*</label>
                  <input type="text" placeholder="Apellido Materno" class="input form-control rounded-pill mb-3 p-2 px-3" name="apellidoMaterno" [(ngModel)]="selectedEmployee.middle_name" (input)="checkAllFieldsCompleted()" required [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>
                <div class="form-group mt-3">
                  <label for="fechaNacimiento">Fecha de Nacimiento</label>
                  <input type="date" placeholder="Fecha de Nacimiento" class="input form-control rounded-pill mb-3 p-2 px-3" name="fechaNacimiento" [(ngModel)]="selectedEmployee.birth_date" (input)="checkAllFieldsCompleted()" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>
                <div class="form-group mt-3">
                  <label for="estadoCivil">Estado Civil</label>
                  <select name="estadoCivil" class="form-select" [(ngModel)]="selectedEmployee.marital_status_id" (change)="checkAllFieldsCompleted()" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')">
                    <option value="" disabled>Seleccionar</option>
                    <option *ngFor="let status of maritalStatuses" [value]="status.status_id">{{ status.status_name }}</option>
                  </select>
                </div>
                <div class="form-group mt-3">
                  <label for="sexo">Género</label>
                  <select name="sexo" class="form-select" [(ngModel)]="selectedEmployee.gender_id" (change)="checkAllFieldsCompleted()" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')">
                    <option value="" disabled>Seleccionar</option>
                    <option *ngFor="let gender of genders" [value]="gender.gender_id">{{ gender.gender_name }}</option>
                  </select>
                </div>
                <div class="form-group mt-3">
                  <label for="curp">CURP*</label>
                  <input type="text" placeholder="CURP" class="input form-control rounded-pill mb-3 p-2 px-3" name="curp" [(ngModel)]="selectedEmployee.curp" maxlength="18" minlength="18" (input)="checkAllFieldsCompleted()" required [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                  <small id="curpValidation" class="text-danger">{{ curpValidationMessage }}</small>
                </div>
                <div class="form-group mt-3">
                  <label for="numeroSeguroSocial">Número de Seguro Social*</label>
                  <input type="text" placeholder="Número de Seguro Social" class="input form-control rounded-pill mb-3 p-2 px-3" name="numeroSeguroSocial" [(ngModel)]="selectedEmployee.social_security_number" maxlength="11" minlength="11" (input)="checkAllFieldsCompleted()" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>
                <div class="form-group mt-3">
                  <label for="rfc">RFC*</label>
                  <input type="text" placeholder="RFC" class="input rounded-pill form-control mb-3 p-2 px-3" name="rfc" [(ngModel)]="selectedEmployee.rfc" maxlength="13" minlength="13" (input)="checkAllFieldsCompleted()" required [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>
                <div class="form-group mt-3">
                  <label for="correoElectronico">Correo Electrónico<span *ngIf="sharedService.hasPermission('Empleados', 'Aceptar solicitudes de empleados')">*</span></label>
                  <input type="email" placeholder="Correo electrónico" class="input rounded-pill form-control my-3 p-2 px-3" name="correoElectronico" [(ngModel)]="selectedEmployee.email" (input)="checkAllFieldsCompleted()" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>
                <div class="form-group mt-3">
                  <label for="telefono">Número de Teléfono<span *ngIf="sharedService.hasPermission('Empleados', 'Aceptar solicitudes de empleados')">*</span></label>
                  <input type="tel" placeholder="Número de Teléfono" class="input rounded-pill form-control mb-3 p-2 px-3" name="telefono" [(ngModel)]="selectedEmployee.phone_number" maxlength="10" minlength="10" (input)="checkAllFieldsCompleted()" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>

                <!-- Campos adicionales según permisos -->
                <div *ngIf="sharedService.hasPermission('Empleados', 'Aceptar solicitudes de empleados')" class="form-group mt-3">
                  <label for="netBalance">Saldo Neto*</label>
                  <input type="number" placeholder="Saldo Neto" class="input rounded-pill form-control mb-3 p-2 px-3" name="netBalance" [(ngModel)]="selectedEmployee.net_balance" (input)="checkAllFieldsCompleted()"/>
                </div>

                <div *ngIf="sharedService.hasPermission('Empleados', 'Procesar empleados')">
                  <div class="form-group mt-3">
                    <label for="dailySalary">Salario Diario*</label>
                    <input type="number" placeholder="Salario Diario" class="input rounded-pill form-control mb-3 p-2 px-3" name="dailySalary" [(ngModel)]="selectedEmployee.daily_salary" (input)="checkAllFieldsCompleted()" />
                  </div>
                  <div class="form-group mt-3">
                    <label for="employeeCode">Código del Empleado*</label>
                    <input type="text" placeholder="Código del Empleado" class="input rounded-pill form-control mb-3 p-2 px-3" name="employeeCode" [(ngModel)]="selectedEmployee.employee_code" (input)="checkAllFieldsCompleted()" />
                  </div>
                </div>

                <div class="form-group mt-3">
                  <label for="fechaInicio">Fecha de Inicio*</label>
                  <input type="date" placeholder="Fecha de Inicio" class="input rounded-pill form-control mb-3 p-2 px-3" name="fechaInicio" [(ngModel)]="selectedEmployee.start_date" (input)="checkAllFieldsCompleted()" required [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>

                <!-- Archivos -->
                <div class="form-group mt-3">
                  <label>Identificación INE (frente)*</label>
                  <div *ngIf="employeeFiles['ineFrente']">
                    <ul>
                      <li *ngFor="let file of employeeFiles['ineFrente']">
                        {{ file.file_name }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarArchivo(file.file_id)">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                  <input type="file" class="form-control rounded-pill" (change)="onFileChange($event, 'ineFrente')" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>

                <div class="form-group mt-3">
                  <label>Identificación INE (Reverso)*</label>
                  <div *ngIf="employeeFiles['ineReverso']">
                    <ul>
                      <li *ngFor="let file of employeeFiles['ineReverso']">
                        {{ file.file_name }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarArchivo(file.file_id)">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                  <input type="file" class="form-control rounded-pill" (change)="onFileChange($event, 'ineReverso')" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>

                <div class="form-group mt-3">
                  <label>Constancia de Situación Fiscal*</label>
                  <div *ngIf="employeeFiles['constanciaFiscal']">
                    <ul>
                      <li *ngFor="let file of employeeFiles['constanciaFiscal']">
                        {{ file.file_name }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarArchivo(file.file_id)">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                  <input type="file" class="form-control rounded-pill" (change)="onFileChange($event, 'constanciaFiscal')" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>

                <!-- Campos de archivo adicionales -->
                <div class="form-group mt-3">
                  <label>Número de Seguro Social y Unidad Médica</label>
                  <div *ngIf="employeeFiles['numSeguroSocialArchivo']">
                    <ul>
                      <li *ngFor="let file of employeeFiles['numSeguroSocialArchivo']">
                        {{ file.file_name }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarArchivo(file.file_id)">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                  <input type="file" class="form-control rounded-pill" (change)="onFileChange($event, 'numSeguroSocialArchivo')" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>

                <div class="form-group mt-3">
                  <label>Acta de Nacimiento</label>
                  <div *ngIf="employeeFiles['actaNacimiento']">
                    <ul>
                      <li *ngFor="let file of employeeFiles['actaNacimiento']">
                        {{ file.file_name }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarArchivo(file.file_id)">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                  <input type="file" class="form-control rounded-pill" (change)="onFileChange($event, 'actaNacimiento')" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>

                <div class="form-group mt-3">
                  <label>Comprobante de Domicilio</label>
                  <div *ngIf="employeeFiles['comprobanteDomicilio']">
                    <ul>
                      <li *ngFor="let file of employeeFiles['comprobanteDomicilio']">
                        {{ file.file_name }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarArchivo(file.file_id)">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                  <input type="file" class="form-control rounded-pill" (change)="onFileChange($event, 'comprobanteDomicilio')" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>


                <div class="form-group mt-3">
                  <label>Cuenta Interbancaria<span *ngIf="sharedService.hasPermission('Empleados', 'Aceptar solicitudes de empleados')">*</span></label>
                  <div *ngIf="employeeFiles['cuentaInterbancaria']">
                    <ul>
                      <li *ngFor="let file of employeeFiles['cuentaInterbancaria']">
                        {{ file.file_name }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarArchivo(file.file_id)">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                  <input type="file" class="form-control rounded-pill" (change)="onFileChange($event, 'cuentaInterbancaria')" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>


                <div class="form-group mt-3">
                  <label for="tieneInfonavit">¿Tienes Infonavit?</label>
                  <select id="tieneInfonavit" class="form-control rounded-pill mb-3" (change)="mostrarOcultarCampo($event)" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')">
                    <option value="no">No</option>
                    <option value="si">Sí</option>
                  </select>
                </div>
                
                <div [hidden]="!mostrarInfonavit" class="form-group mt-3">
                  <label for="retencionInfonavit">Carta de Retención de Infonavit</label>
                  <div *ngIf="employeeFiles['retencionInfonavit']">
                    <ul>
                      <li *ngFor="let file of employeeFiles['retencionInfonavit']">
                        {{ file.file_name }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarArchivo(file.file_id)">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                  <input type="file" class="form-control rounded-pill" (change)="onFileChange($event, 'retencionInfonavit')" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>

                <div class="form-group mt-3">
                  <label for="antecedentesPenales">Carta de No Antecedentes Penales</label>
                  <div *ngIf="employeeFiles['antecedentesPenales']">
                    <ul>
                      <li *ngFor="let file of employeeFiles['antecedentesPenales']">
                        {{ file.file_name }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarArchivo(file.file_id)">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                  <input type="file" class="form-control rounded-pill" (change)="onFileChange($event, 'antecedentesPenales')" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>

                <div class="form-group mt-3">
                  <label for="comprobanteEstudios">Comprobante de Estudios</label>
                  <div *ngIf="employeeFiles['comprobanteEstudios']">
                    <ul>
                      <li *ngFor="let file of employeeFiles['comprobanteEstudios']">
                        {{ file.file_name }}
                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarArchivo(file.file_id)">Eliminar</button>
                      </li>
                    </ul>
                  </div>
                  <input type="file" class="form-control rounded-pill" (change)="onFileChange($event, 'comprobanteEstudios')" [disabled]="sharedService.hasPermission('Empleados', 'Procesar empleados')" />
                </div>

                <!-- Botones de acción -->
                <div class="mt-3 text-center">
                  <button type="submit" class="btn btn-primary rounded-pill w-75 fw-bold shadow py-2 mt-2">Actualizar solicitud Empleado</button>
                  <button (click)="enviarSolicitudPendiente()" class="btn btn-success rounded-pill w-75 fw-bold shadow py-2 mt-2" [disabled]="!allFieldsCompleted">{{ buttonNameSucessEmployee }}</button>    
                  <button (click)="eliminarSolicitud()" class="btn btn-danger rounded-pill w-75 fw-bold shadow py-2 mt-2">Eliminar Solicitud</button>
                  <button (click)="selectEmployee(null)" class="btn btn-secondary rounded-pill w-75 fw-bold shadow py-2 mt-2">Cancelar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<style>
  .container {
    max-width: 800px;
  }

  .back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .back-button:hover {
    background-color: #0056b3;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .text-center {
    text-align: center;
  }

  .mt-3 {
    margin-top: 1rem;
  }

  .mb-3 {
    margin-bottom: 1rem;
  }

  .hidden {
    display: none;
  }
</style>
