<ion-content [fullscreen]="true" class="ion-padding">
  <ion-breadcrumbs>
    <ion-breadcrumb routerLink="/home">Inicio</ion-breadcrumb>
    <ion-breadcrumb routerLink="/employee-management">Gestión de Empleados
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/employee-control">Control de empleados
    </ion-breadcrumb>
    <ion-breadcrumb routerLink="/add-employee">Registrar solicitudes de empleados
    </ion-breadcrumb>
  </ion-breadcrumbs>
  <div class="back-button" (click)="goBack()">
    <ion-icon name="arrow-back"></ion-icon>
  </div>
  <ion-grid>
    <ion-row>
      <!-- Columna izquierda con contenido adicional -->
      <ion-col size="12" size-md="3" class="left-column">
        <div class="container mt-4">
          <!-- Columna con la lista de solicitudes de empleado registradas en los últimos 15 días -->
          <div class="side-content">
            <div class="d-flex justify-content-center mb-4">
              <h5><strong>Solicitudes Registradas (Últimos 15 días)</strong></h5>
            </div>
            <ion-list>
              <ion-item *ngFor="let solicitud of solicitudes">
                <ion-label>
                  <h2>Folio: {{ solicitud.request_id }}</h2>
                  <p>Empleado: {{ solicitud.full_name }}</p>
                  <p>Departamento: {{ solicitud.department_name }}</p>
                  <p>Puesto: {{ solicitud.position_name }}</p>
                  <p>Estado: {{ getStatusDescription(solicitud.request_status) }}</p>
                  <p>Fecha de Solicitud: {{ solicitud.request_created_at | date:'short' }}</p>
                  <p>Última Actualización: {{ solicitud.request_updated_at | date:'short' }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-col>

      <ion-col size="12" size-md="9">
        <div class="container mt-4">
          <div class="d-flex justify-content-center mb-4">
            <h5><strong>Registrar solicitud de empleado</strong></h5>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-12">
              <div class="card shadow-lg p-4 mb-4">
                <div class="card-body">
                  <p class="text-center" style="font-size: 15px;"><em>Campos con un * son obligatorios para guardar la
                      solicitud</em>
                  <form #empleadoForm="ngForm" (ngSubmit)="onSubmit(empleadoForm)">
                    <div class="container mt-4">
                      <h4>Datos Personales</h4>
                      <hr />

                      <div class="form-group mt-3">
                        <label for="nombre">Nombre*</label>
                        <input type="text" placeholder="Nombre" class="input form-control rounded-pill mb-3 p-2 px-3"
                          name="nombre" [(ngModel)]="empleado.nombre" required />
                      </div>

                      <div class="form-group mt-3">
                        <label for="apellidoPaterno">Apellido Paterno*</label>
                        <input type="text" placeholder="Apellido Paterno"
                          class="input form-control rounded-pill mb-3 p-2 px-3" name="apellidoPaterno"
                          [(ngModel)]="empleado.apellidoPaterno" required />
                      </div>

                      <div class="form-group mt-3">
                        <label for="apellidoMaterno">Apellido Materno*</label>
                        <input type="text" placeholder="Apellido Materno"
                          class="input form-control rounded-pill mb-3 p-2 px-3" name="apellidoMaterno"
                          [(ngModel)]="empleado.apellidoMaterno" required />
                      </div>

                      <div class="form-group mt-3">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input type="date" placeholder="Fecha de Nacimiento"
                          class="input form-control rounded-pill mb-3 p-2 px-3" name="fechaNacimiento"
                          [(ngModel)]="empleado.fechaNacimiento" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="lugarNacimiento">Lugar de Nacimiento</label>
                        <input type="text" placeholder="Lugar de Nacimiento"
                          class="input form-control rounded-pill mb-3 p-2 px-3" name="lugarNacimiento"
                          [(ngModel)]="empleado.lugarNacimiento" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="curp">CURP*</label>
                        <input type="text" placeholder="CURP" class="input form-control rounded-pill mb-3 p-2 px-3"
                          name="curp" [(ngModel)]="empleado.curp" maxlength="18" minlength="18" required />
                      </div>

                      <div class="form-group mt-3">
                        <label for="rfc">RFC</label>
                        <input type="text" placeholder="RFC" class="input rounded-pill form-control mb-3 p-2 px-3"
                          name="rfc" [(ngModel)]="empleado.rfc" maxlength="13" minlength="13" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="telefono">Número de Teléfono</label>
                        <input type="tel" placeholder="Número de Teléfono"
                          class="input rounded-pill form-control mb-3 p-2 px-3" name="telefono"
                          [(ngModel)]="empleado.telefono" maxlength="10" minlength="10" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="correoElectronico">Correo Electrónico</label>
                        <input type="email" placeholder="Correo electrónico"
                          class="input rounded-pill form-control mb-3 p-2 px-3" name="correoElectronico"
                          [(ngModel)]="empleado.correoElectronico" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="sexo">Género</label>
                        <select class="form-select rounded-pill mb-3" name="sexo" [(ngModel)]="empleado.sexo">
                          <option value="" disabled selected>Seleccionar</option>
                          <option *ngFor="let gender of genders" [value]="gender.gender_id">{{ gender.gender_name }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group mt-3">
                        <label for="estadoCivil">Estado Civil</label>
                        <select class="form-select rounded-pill mb-3" name="estadoCivil"
                          [(ngModel)]="empleado.estadoCivil">
                          <option value="" disabled selected>Seleccionar</option>
                          <option *ngFor="let status of maritalStatuses" [value]="status.status_id">{{
                            status.status_name }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="container mt-4">
                      <h4>Información Financiera y Bancaria</h4>
                      <hr />

                      <div class="form-group mt-3">
                        <label for="numeroSeguroSocial">Número de Seguro Social</label>
                        <input type="text" placeholder="Número de Seguro Social"
                          class="input form-control rounded-pill mb-3 p-2 px-3" name="numeroSeguroSocial"
                          [(ngModel)]="empleado.numeroSeguroSocial" maxlength="11" minlength="11" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="numeroCuenta">Número de Cuenta Bancaria</label>
                        <input type="text" placeholder="10 a 12 dígitos"
                          class="input form-control rounded-pill mb-3 p-2 px-3" name="numeroCuenta"
                          [(ngModel)]="empleado.numeroCuenta" maxlength="12" minlength="10" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="nombreBanco">Banco</label>
                        <input type="text" placeholder="Nombre del Banco"
                          class="input form-control rounded-pill mb-3 p-2 px-3" name="nombreBanco"
                          [(ngModel)]="empleado.nombreBanco" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="sucursalBanco">Sucursal</label>
                        <input type="text" placeholder="Sucursal del Banco"
                          class="input form-control rounded-pill mb-3 p-2 px-3" name="sucursalBanco"
                          [(ngModel)]="empleado.sucursalBanco" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="clabeInterbancaria">CLABE Interbancaria</label>
                        <input type="text" placeholder="18 dígitos"
                          class="input form-control rounded-pill mb-3 p-2 px-3" name="clabeInterbancaria"
                          [(ngModel)]="empleado.clabeInterbancaria" maxlength="18" minlength="18" />
                      </div>
                    </div>


                    <div class="container mt-4">
                      <h4>Información de Trabajo</h4>
                      <hr />

                      <div class="form-group mt-3">
                        <label for="departamento">Departamento</label>
                        <select class="form-select rounded-pill" name="departamento"
                          [(ngModel)]="empleado.departamento">
                          <option value="" disabled selected>Seleccionar</option>
                          <option *ngFor="let departamento of departamentos" [value]="departamento.department_id">
                            {{ departamento.department_name }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group mt-3">
                        <label for="puesto">Puesto</label>
                        <select class="form-select rounded-pill" name="puesto" [(ngModel)]="empleado.puesto">
                          <option value="" disabled selected>Seleccionar</option>
                          <option *ngFor="let puesto of puestos" [value]="puesto.position_id">{{ puesto.position_name }}
                          </option>
                        </select>
                      </div>

                      <div class="form-group mt-3">
                        <label for="turno">Turno</label>
                        <select class="form-select rounded-pill" name="turno" [(ngModel)]="empleado.turno">
                          <option value="" disabled selected>Seleccionar</option>
                          <option *ngFor="let turno of turnos" [value]="turno.shift_id">{{ turno.shift_name }}</option>
                        </select>
                      </div>

                      <div class="form-group mt-3">
                        <label for="fechaInicio">Fecha de Inicio*</label>
                        <input type="date" placeholder="Fecha de Inicio"
                          class="input rounded-pill form-control mb-3 p-2 px-3" name="fechaInicio"
                          [(ngModel)]="empleado.fechaInicio" required />
                      </div>
                    </div>


                    <div class="container mt-4">
                      <h4>Contacto de Emergencia</h4>
                      <hr />

                      <div class="form-group mt-3">
                        <label for="contactoEmergencia">Contacto de Emergencia</label>
                        <input type="text" placeholder="Contacto de Emergencia"
                          class="input rounded-pill form-control mb-3 p-2 px-3" name="contactoEmergencia"
                          [(ngModel)]="empleado.contactoEmergencia" />
                      </div>

                      <div class="form-group mt-3">
                        <label for="numEmergencia">Número de Emergencia</label>
                        <input type="tel" placeholder="Número de Emergencia"
                          class="input rounded-pill form-control mb-3 p-2 px-3" name="numEmergencia"
                          [(ngModel)]="empleado.numEmergencia" maxlength="10" minlength="10" />
                      </div>
                    </div>

                    <div class="container mt-4">
                      <h4>Archivos del empleado</h4>
                      <hr />
                      <div class="form-group mt-3">
                        <label for="ineFrente">Identificación INE (frente)</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'ineFrente')" />
                      </div>
                      <div class="form-group mt-3">
                        <label for="ineReverso">Identificación INE (Reverso)</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'ineReverso')" />
                      </div>
                      <div class="form-group mt-3">
                        <label for="constanciaFiscal">Constancia de Situación Fiscal</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'constanciaFiscal')" />
                      </div>
                      <div class="form-group mt-3">
                        <label for="numSeguroSocialArchivo">Número de Seguro Social y Unidad Médica</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'numSeguroSocialArchivo')" />
                      </div>
                      <div class="form-group mt-3">
                        <label for="actaNacimiento">Acta de Nacimiento</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'actaNacimiento')" />
                      </div>
                      <div class="form-group mt-3">
                        <label for="CURPFile">CURP</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'CURPFile')" />
                      </div>
                      <div class="form-group mt-3">
                        <label for="comprobanteDomicilio">Comprobante de Domicilio</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'comprobanteDomicilio')" />
                      </div>
                      <div class="form-group mt-3">
                        <label for="cuentaInterbancaria">Cuenta Interbancaria</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'cuentaInterbancaria')" />
                      </div>
                      <label for="tieneInfonavit">¿Tienes Infonavit?</label>
                      <select id="tieneInfonavit" class="form-select rounded-pill mb-3"
                        (change)="mostrarOcultarCampo($event)">
                        <option value="no">No</option>
                        <option value="si">Sí</option>
                      </select>
                      <div [hidden]="!mostrarInfonavit" class="form-group mt-3">
                        <label for="retencionInfonavit">Carta de Retención de Infonavit</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'retencionInfonavit')" />
                      </div>
                      <div class="form-group mt-3">
                        <label for="antecedentesPenales">Carta de No Antecedentes Penales</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'antecedentesPenales')" />
                      </div>
                      <div class="form-group mt-3">
                        <label for="comprobanteEstudios">Comprobante de Estudios</label>
                        <input type="file" class="form-control rounded-pill"
                          (change)="onFileChange($event, 'comprobanteEstudios')" />
                      </div>
                      <div class="mt-3 text-center">
                        <button type="submit" class="btn btn-primary rounded-pill w-75 fw-bold shadow py-2">Guardar
                          Empleado</button>
                      </div>
                      <div *ngIf="allFieldsCompleted" class="mt-3 text-center">
                        <button type="submit" class="btn btn-success rounded-pill w-75 fw-bold shadow py-2">
                          Enviar Solicitud del Empleado
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<style>
  .container {
    max-width: 800px;
  }

  .back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .back-button:hover {
    background-color: #0056b3;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
  }

  .btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #0056b3;
  }

  .text-center {
    text-align: center;
  }

  .mt-3 {
    margin-top: 1rem;
  }

  .mb-3 {
    margin-bottom: 1rem;
  }

  .hidden {
    display: none;
  }

  .left-column {
    position: -webkit-sticky;
    /* Para compatibilidad con Safari */
    position: sticky;
    top: 10px;
    /* Distancia desde la parte superior */
    height: calc(100vh - 20px);
    /* Para asegurarse de que ocupe toda la altura */
    overflow-y: auto;
    /* Para permitir el desplazamiento si el contenido es largo */
  }
</style>