<ion-split-pane contentId="main-content">

  <!-- Contenido principal -->
  <ion-content id="main-content" [fullscreen]="true" class="ion-padding">
    <!-- Encabezado de la página principal -->


    <!-- Botón de regreso -->
    <div class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <!-- Contenido principal de la página -->
    <div class="main-content">
      <div class="pt-4">
        <h5><strong>Sistema REPSE</strong></h5>
      </div>

      <div class="app-grid mt-4">
        <!-- Sección de Nominas -->
        <a *ngIf="hasPermission('repse', 'Nominas')" (click)="toggleNominasSubsections()">
          <img src="/assets/image/nomina-de-sueldos.png" alt="nominas" style="height: 60px;">
          <span>Sistema de nominas</span>
        </a>
        <div *ngIf="showNominasSubsections" class="backdrop" (click)="closeNominasOptions()"></div>
        <div *ngIf="showNominasSubsections" class="floating-options text-center">
          <button routerLink="/view-files/ICOSOE">
            <img src="/assets/image/icosoe.png" alt="ICOSOE Logo" style="height: 60px;">
            <span>Reporte ICOSOE</span>
          </button>
          <button routerLink="/view-files/CIR">
            <img src="/assets/image/cir.png" alt="CIR Logo" style="height: 60px;">
            <span>Lista tabular CIR</span>
          </button>
          <button routerLink="/view-files/ParteVariable">
            <img src="/assets/image/parte-variable.png" alt="Parte Variable Logo" style="height: 60px;">
            <span>Parte variable CIR</span>
          </button>
        </div>

        <a *ngIf="hasPermission('repse', 'Nominas Proveedor')" (click)="toggleNominasSubsectionsProveedor()">
          <img src="/assets/image/nomina-de-sueldos.png" alt="nominas" style="height: 60px;">
          <span>Sistema de nominas para proveedor</span>
        </a>
        <div *ngIf="showNominasSubsections" class="backdrop" (click)="closeNominasOptionsProveedor()"></div>
        <div *ngIf="showNominasSubsections" class="floating-options text-center">
          <button routerLink="/view-files/ICOSOE">
            <img src="/assets/image/icosoe.png" alt="ICOSOE Logo" style="height: 60px;">
            <span>Reporte ICOSOE</span>
          </button>
          <button routerLink="/view-files/CIR">
            <img src="/assets/image/cir.png" alt="CIR Logo" style="height: 60px;">
            <span>Lista tabular CIR</span>
          </button>
          <button routerLink="/view-files/ParteVariable">
            <img src="/assets/image/parte-variable.png" alt="Parte Variable Logo" style="height: 60px;">
            <span>Parte variable CIR</span>
          </button>
        </div>

        <a *ngIf="hasPermission('repse', 'Nominas Cliente')" (click)="toggleNominasSubsectionsCliente()">
          <img src="/assets/image/nomina-de-sueldos.png" alt="nominas" style="height: 60px;">
          <span>Sistema de nominas para proveedor</span>
        </a>
        <div *ngIf="showNominasSubsections" class="backdrop" (click)="closeNominasOptionsCliente()"></div>
        <div *ngIf="showNominasSubsections" class="floating-options text-center">
          <button routerLink="/view-files/ICOSOE">
            <img src="/assets/image/icosoe.png" alt="ICOSOE Logo" style="height: 60px;">
            <span>Reporte ICOSOE</span>
          </button>
          <button routerLink="/view-files/CIR">
            <img src="/assets/image/cir.png" alt="CIR Logo" style="height: 60px;">
            <span>Lista tabular CIR</span>
          </button>
          <button routerLink="/view-files/ParteVariable">
            <img src="/assets/image/parte-variable.png" alt="Parte Variable Logo" style="height: 60px;">
            <span>Parte variable CIR</span>
          </button>
        </div>


        <!-- Sección de SUA -->
        <a *ngIf="hasPermission('repse', 'SUA')" (click)="toggleSUASubsections()">
          <img src="/assets/image/sua.png" alt="sua" style="height: 60px;">
          <span>Sistema SUA</span>
        </a>
        <div *ngIf="showSUASubsections" class="backdrop" (click)="closeSUAOptions()"></div>
        <div *ngIf="showSUASubsections" class="floating-options text-center">
          <button routerLink="/view-files/DatosEmpresa">
            <img src="/assets/image/datos-empresa.png" alt="Datos Empresa Logo" style="height: 60px;">
            <span>Datos Empresa</span>
          </button>
          <button routerLink="/view-files/DatosMovimiento">
            <img src="/assets/image/datos-movimiento.png" alt="Datos Movimiento Logo" style="height: 60px;">
            <span>Datos Movimiento</span>
          </button>
          <button routerLink="/view-files/DatosSumarios">
            <img src="/assets/image/datos-sumarios.png" alt="Datos Sumarios Logo" style="height: 60px;">
            <span>Datos Sumarios</span>
          </button>
          <button routerLink="/view-files/DatosTrabajador">
            <img src="/assets/image/datos-trabajador.png" alt="Datos Trabajador Logo" style="height: 60px;">
            <span>Datos Trabajador</span>
          </button>
        </div>

        <a *ngIf="hasPermission('repse', 'SUA Cliente')" (click)="toggleSUASubsectionsCliente()">
          <img src="/assets/image/sua.png" alt="sua" style="height: 60px;">
          <span>Sistema SUA</span>
        </a>
        <div *ngIf="showSUASubsections" class="backdrop" (click)="closeSUAOptionsCliente()"></div>
        <div *ngIf="showSUASubsections" class="floating-options text-center">
          <button routerLink="/view-files/DatosEmpresa">
            <img src="/assets/image/datos-empresa.png" alt="Datos Empresa Logo" style="height: 60px;">
            <span>Datos Empresa</span>
          </button>
          <button routerLink="/view-files/DatosMovimiento">
            <img src="/assets/image/datos-movimiento.png" alt="Datos Movimiento Logo" style="height: 60px;">
            <span>Datos Movimiento</span>
          </button>
          <button routerLink="/view-files/DatosSumarios">
            <img src="/assets/image/datos-sumarios.png" alt="Datos Sumarios Logo" style="height: 60px;">
            <span>Datos Sumarios</span>
          </button>
          <button routerLink="/view-files/DatosTrabajador">
            <img src="/assets/image/datos-trabajador.png" alt="Datos Trabajador Logo" style="height: 60px;">
            <span>Datos Trabajador</span>
          </button>
        </div>

        <a *ngIf="hasPermission('repse', 'SUA Proveedor')" (click)="toggleSUASubsectionsProveedor()">
          <img src="/assets/image/sua.png" alt="sua" style="height: 60px;">
          <span>Sistema SUA</span>
        </a>
        <div *ngIf="showSUASubsections" class="backdrop" (click)="closeSUAOptionProveedor()"></div>
        <div *ngIf="showSUASubsections" class="floating-options text-center">
          <button routerLink="/view-files/DatosEmpresa">
            <img src="/assets/image/datos-empresa.png" alt="Datos Empresa Logo" style="height: 60px;">
            <span>Datos Empresa</span>
          </button>
          <button routerLink="/view-files/DatosMovimiento">
            <img src="/assets/image/datos-movimiento.png" alt="Datos Movimiento Logo" style="height: 60px;">
            <span>Datos Movimiento</span>
          </button>
          <button routerLink="/view-files/DatosSumarios">
            <img src="/assets/image/datos-sumarios.png" alt="Datos Sumarios Logo" style="height: 60px;">
            <span>Datos Sumarios</span>
          </button>
          <button routerLink="/view-files/DatosTrabajador">
            <img src="/assets/image/datos-trabajador.png" alt="Datos Trabajador Logo" style="height: 60px;">
            <span>Datos Trabajador</span>
          </button>
        </div>
      </div>



    </div>

  </ion-content>
</ion-split-pane>

<!--"authService.selectedLevelUser === 'adminS' && hasPermission('configEmpresa', 'logo Empresa')"-->