<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Archivos Recibidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Archivos Recibidos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let file of receivedFiles">
      <ion-icon name="document"></ion-icon>
      <ion-label>{{ file.nombre_archivos }}</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>
