<ion-split-pane contentId="main-content">
  <!-- Contenido principal -->
  <ion-content id="main-content" [fullscreen]="true" class="ion-padding">
    <ion-breadcrumbs>
      <ion-breadcrumb routerLink="/home">Inicio</ion-breadcrumb>
      <ion-breadcrumb routerLink="/employee-management">Gestión de Empleados
      </ion-breadcrumb>
      <ion-breadcrumb routerLink="/incident-control">Control de incidencias
      </ion-breadcrumb>
    </ion-breadcrumbs>
    <div class="back-button" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <!-- Contenido principal de la página -->
    <div class="main-content">
      <div class="pt-4">
        <h5><strong>Control de incidencias</strong></h5>
      </div>

      <div class="app-grid mt-4">
        <a routerLink="/incident-viewer"
        *ngIf="sharedService.hasPermission('Incidencias', 'Control de incidencias')">
          <img src="/assets/image/imagen.png" alt="Assign Logo" style="height: 60px;">
          <span>Control de incidencias</span>
        </a>
        <a routerLink="/confirm-day"
        *ngIf="sharedService.hasPermission('Incidencias', 'Confirmar dia')">
          <img src="/assets/image/seguidores.png" alt="Register Additional User" style="height: 60px;">
          <span>Confirmar dia</span>
        </a>
        <a routerLink="/confirm-test"
        *ngIf="sharedService.hasPermission('Incidencias', 'Confirmar dia')">
          <img src="/assets/image/seguidores.png" alt="Register Additional User" style="height: 60px;">
          <span>Confirmar dia</span>
        </a>
        <a routerLink="/confirm-week"
        *ngIf="sharedService.hasPermission('Incidencias', 'Confirmar semana')">
          <img src="/assets/image/imagen.png" alt="Assign Logo" style="height: 60px;">
          <span>Confirmar semana</span>
        </a>
        <a routerLink="/process-weekly-lists"
        *ngIf="sharedService.hasPermission('Incidencias', 'Semanas procesadas')">
          <img src="/assets/image/imagen.png" alt="Assign Logo" style="height: 60px;">
          <span>Semanas procesadas</span>
        </a>
        <a routerLink="/processed-attendance"
        *ngIf="sharedService.hasPermission('Incidencias', 'Lista de asistencia')">
          <img src="/assets/image/imagen.png" alt="Assign Logo" style="height: 60px;">
          <span>Lista de asistencia</span>
        </a>

      </div>
    </div>
  </ion-content>
</ion-split-pane>
